# Conda recipe for AmberTools

This is the `conda` recipe used to build `ambertools` for the Conda Forge ecosystem.

The files included in this directory weere copied over from [AmberTools Feedstock PR#30](https://github.com/conda-forge/ambertools-feedstock/pull/30) on 2020.04.27, corresponding to commit `a51b9ac`. More up-to-date features might be available on that repository in the future.

Limitations at this point:

* This only builds the `serial` version for Linux (`amd64` and `ppc64le`) and MacOS.
* MacOS package does not include GUI tools.

By default, unit tests are not run for every build. You can change this by editing `conda_build_config.yaml` so `unit_tests` is set to `run` instead of `skip`.